<div class="container">
  <app-header></app-header>

  <div class="tabs is-centered">
    <ul>
      <li routerLinkActive="is-active" routerLink="tasks">
        <a>
          <span class="icon is-small"><i class="fas fa-list-check"></i></span>
          <span>Tasks</span>
        </a>
      </li>
      <li routerLinkActive="is-active" routerLink="dashboard">
        <a>
          <span class="icon is-small"><i class="fas fa-gauge"></i></span>
          <span>Dashboard</span>
        </a>
      </li>
    </ul>
  </div>

  <router-outlet></router-outlet>
</div>
